@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<br />
<h2 style="width:97%; margin-left:20px;">Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4" style="width:97%; margin-left:20px;">
    <li class="breadcrumb-item active">Deprtman Adı : @ViewBag.d</li>
</ol>
<br />
<table class="table table-hover" style="margin-left: 20px; width: 97%;">
    <tr>
        <th>Personel ID</th>
        <th>Personel Ad</th>
        <th>Personel SoyAd</th>
        <th>Personel Görsel</th>
        <th>Personel Satışları</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Personelid</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyadı</td>
            <td>@x.PersonelGorsel</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.Personelid" class="btn btn-info">Satışları Gör </a></td>
        </tr>
    }

</table>

