@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Urun
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<br />
<h2 style="margin-left:20px;">Yeni Ürün Sayfası</h2>
<br />
<form style="margin-left:20px;" class="form-group" method="post">
    <label>Urun adı giriniz:</label>
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control", required = "required" })

    <label>Urun marka giriniz:</label>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control", required = "required" })


    <label>Urun stok sayısını giriniz:</label>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control", required = "required" })

    <label>Alis Fiyatını giriniz:</label>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control", required = "required" })


    <label>Satış Fiyatını giriniz:</label>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control", required = "required" })

    <label>Kategori giriniz:</label>
    @*@Html.TextBoxFor(x => x.kategoriid, new { @class = "form-control", required = "required" })*@
    @Html.DropDownListFor(x=>x.kategoriid,(List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control", required = "required" })<br />


    <label>Durumu Seçiniz:</label>
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control", required = "required" })

    <label>Ürün Görsel</label>
    @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control", required = "required" })


    <button class="btn btn-info" style="margin-top:10px;">Kaydet</button>

</form>
