@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="card mb-4" style="margin-top:20px;">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Personellerimiz</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tbl1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Personel Adı</th>
                        <th>Personel SoyAdı</th>
                        <th>Personel Görsel</th>
                        <th>Personel Departmanı</th>
                        <th>İslemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Personel Adı</th>
                        <th>Personel SoyAdı</th>
                        <th>Personel Görsel</th>
                        <th>Personel Departmanı</th>
                        <th>İslemler</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Personelid</td>
                            <td>@u.PersonelAd</td>
                            <td>@u.PersonelSoyadı</td>
                            <td><img src="@u.PersonelGorsel" style="width:150px; height:150px;"/></td>
                            <td>@u.Departman.DepartmanAd</td>
                            <td>
                                <a href="/Personel/PersonelGetir/@u.Personelid" class="btn btn-primary" style="width:100px;">Güncelle</a>
                                <a href="/Departman/DepartmanPersonelSatis/@u.Personelid" class="btn btn-dark" style="margin-left: 10px; width: 150px; color:white;">Personel Satışlar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>











<a href="/Personel/PersonelEkle" class="btn btn-primary" style="margin-left:20px;">Yeni Personel Ekle</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').dataTable({});
    </script>


